* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}

h1{
  font-size: 70px;
  font-weight: 600;
  position: absolute;
  top: 30vh;
  left: 60 vw;
  transform: translate(-50% , -50%);
  text-decoration: underline;
  white-space: nowrap ;
}

h2{
  font-size: 70px;
  font-weight: 600;
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  text-decoration: underline;
  white-space: nowrap;
}

.nav{
  display: flex;
  padding: 20px;
  gap: 20px;
}

.nav a{
  text-decoration: none;
  color: white;
}