* {
  margin: 0;
  padding: 0;
  font: white;
}
body{
  padding: 20x;
  background-color: black;
}

.user-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: white;
  font-size: 2rem;
}

.all-cards{
  display: flex;
  flex-wrap: wrap;

}

button{
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
}