.nav{
  background-color: lightseagreen;
  height: 60px;
  width: 100%;
}
.section{
  background-color: aquamarine;
  height: 100vh;
  width: 100;
  padding: 100px;
}
.center{
  background-color: pink;
  width:50%;
  height: 40%;
  padding: 100px;
  margin: 0 auto;
  text-align: center;

}